<dict>
<key>frames</key>
<dict>
<key>Npc02_1008.png</key>
<dict>
<key>frame</key>
<string>{{148,2},{142,202}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-30,49}</string>
</dict>
<key>Npc02_1004.png</key>
<dict>
<key>frame</key>
<string>{{578,2},{138,202}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-31,49}</string>
</dict>
<key>Npc02_1005.png</key>
<dict>
<key>frame</key>
<string>{{436,2},{140,202}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-30,48}</string>
</dict>
<key>Npc02_1006.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{144,202}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-29,49}</string>
</dict>
<key>Npc02_1007.png</key>
<dict>
<key>frame</key>
<string>{{292,2},{142,202}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-28,49}</string>
</dict>
<key>Npc02_1001.png</key>
<dict>
<key>frame</key>
<string>{{718,2},{138,202}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-32,49}</string>
</dict>
<key>Npc02_1002.png</key>
<dict>
<key>frame</key>
<string>{{996,2},{136,202}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-33,49}</string>
</dict>
<key>Npc02_1003.png</key>
<dict>
<key>frame</key>
<string>{{858,2},{136,202}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-32,49}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>size</key>
<string>{1134,206}</string>
<key>textureFileName</key>
<string>Npc02.pvr.ccz</string>
<key>realTextureFileName</key>
<string>Npc02.pvr.ccz</string>
<key>format</key>
<integer>2</integer>
</dict>
</dict>