<dict>
<key>frames</key>
<dict>
<key>Npc04_1008.png</key>
<dict>
<key>frame</key>
<string>{{2,574},{98,190}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-25,50}</string>
</dict>
<key>Npc04_1006.png</key>
<dict>
<key>frame</key>
<string>{{2,1146},{96,190}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-24,49}</string>
</dict>
<key>Npc04_1007.png</key>
<dict>
<key>frame</key>
<string>{{2,766},{98,188}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-25,49}</string>
</dict>
<key>Npc04_1004.png</key>
<dict>
<key>frame</key>
<string>{{2,382},{100,190}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-23,49}</string>
</dict>
<key>Npc04_1005.png</key>
<dict>
<key>frame</key>
<string>{{2,1338},{96,188}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-24,49}</string>
</dict>
<key>Npc04_1002.png</key>
<dict>
<key>frame</key>
<string>{{2,192},{102,188}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-23,49}</string>
</dict>
<key>Npc04_1003.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{102,188}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-22,49}</string>
</dict>
<key>Npc04_1001.png</key>
<dict>
<key>frame</key>
<string>{{2,956},{98,188}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-25,49}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>size</key>
<string>{106,1528}</string>
<key>textureFileName</key>
<string>Npc04.pvr.ccz</string>
<key>realTextureFileName</key>
<string>Npc04.pvr.ccz</string>
<key>format</key>
<integer>2</integer>
</dict>
</dict>