<dict>
<key>frames</key>
<dict>
<key>Npc01_1001.png</key>
<dict>
<key>frame</key>
<string>{{170,2},{40,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-3,51}</string>
</dict>
<key>Npc01_1003.png</key>
<dict>
<key>frame</key>
<string>{{86,2},{40,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-4,51}</string>
</dict>
<key>Npc01_1002.png</key>
<dict>
<key>frame</key>
<string>{{128,2},{40,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-4,51}</string>
</dict>
<key>Npc01_1005.png</key>
<dict>
<key>frame</key>
<string>{{44,2},{40,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-4,51}</string>
</dict>
<key>Npc01_1004.png</key>
<dict>
<key>frame</key>
<string>{{212,2},{38,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-4,51}</string>
</dict>
<key>Npc01_1006.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{40,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-4,51}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>size</key>
<string>{252,106}</string>
<key>textureFileName</key>
<string>Npc01.pvr.ccz</string>
<key>realTextureFileName</key>
<string>Npc01.pvr.ccz</string>
<key>format</key>
<integer>2</integer>
</dict>
</dict>