<dict>
<key>frames</key>
<dict>
<key>Npc12_2010.png</key>
<dict>
<key>frame</key>
<string>{{2,1570},{102,138}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-18,62}</string>
</dict>
<key>Npc12_1008.png</key>
<dict>
<key>frame</key>
<string>{{2,440},{112,144}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-3,65}</string>
</dict>
<key>Npc12_1005.png</key>
<dict>
<key>frame</key>
<string>{{2,294},{118,144}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{0,65}</string>
</dict>
<key>Npc12_1004.png</key>
<dict>
<key>frame</key>
<string>{{2,1008},{108,146}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-4,66}</string>
</dict>
<key>Npc12_1007.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{122,144}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-1,65}</string>
</dict>
<key>Npc12_1006.png</key>
<dict>
<key>frame</key>
<string>{{2,148},{122,144}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{2,65}</string>
</dict>
<key>Npc12_1001.png</key>
<dict>
<key>frame</key>
<string>{{2,2134},{96,144}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-3,65}</string>
</dict>
<key>Npc12_1003.png</key>
<dict>
<key>frame</key>
<string>{{2,1986},{100,146}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-6,66}</string>
</dict>
<key>Npc12_1002.png</key>
<dict>
<key>frame</key>
<string>{{2,2554},{88,146}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-7,66}</string>
</dict>
<key>Npc12_2011.png</key>
<dict>
<key>frame</key>
<string>{{2,866},{110,140}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-15,63}</string>
</dict>
<key>Npc12_2008.png</key>
<dict>
<key>frame</key>
<string>{{2,2416},{92,136}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-14,61}</string>
</dict>
<key>Npc12_2009.png</key>
<dict>
<key>frame</key>
<string>{{2,2702},{80,138}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-9,62}</string>
</dict>
<key>Npc12_2012.png</key>
<dict>
<key>frame</key>
<string>{{2,1156},{106,142}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-6,64}</string>
</dict>
<key>Npc12_2004.png</key>
<dict>
<key>frame</key>
<string>{{2,586},{112,134}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{2,60}</string>
</dict>
<key>Npc12_2005.png</key>
<dict>
<key>frame</key>
<string>{{2,1300},{106,132}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{2,59}</string>
</dict>
<key>Npc12_2006.png</key>
<dict>
<key>frame</key>
<string>{{2,1434},{104,134}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-4,60}</string>
</dict>
<key>Npc12_2007.png</key>
<dict>
<key>frame</key>
<string>{{2,2280},{96,134}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-10,60}</string>
</dict>
<key>Npc12_2001.png</key>
<dict>
<key>frame</key>
<string>{{2,722},{110,142}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{-4,64}</string>
</dict>
<key>Npc12_2002.png</key>
<dict>
<key>frame</key>
<string>{{2,1710},{102,138}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{1,62}</string>
</dict>
<key>Npc12_2003.png</key>
<dict>
<key>frame</key>
<string>{{2,1850},{102,134}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{800,800}</string>
<key>offset</key>
<string>{5,60}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>size</key>
<string>{126,2842}</string>
<key>textureFileName</key>
<string>Npc12.pvr.ccz</string>
<key>realTextureFileName</key>
<string>Npc12.pvr.ccz</string>
<key>format</key>
<integer>2</integer>
</dict>
</dict>