<dict>
<key>frames</key>
<dict>
<key>Monster202_2012.png</key>
<dict>
<key>frame</key>
<string>{{2,588},{64,108}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{2,41}</string>
</dict>
<key>Monster202_2022.png</key>
<dict>
<key>frame</key>
<string>{{68,602},{58,106}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{17,55}</string>
</dict>
<key>Monster202_2015.png</key>
<dict>
<key>frame</key>
<string>{{78,298},{48,98}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{5,44}</string>
</dict>
<key>Monster202_2016.png</key>
<dict>
<key>frame</key>
<string>{{2,804},{60,108}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-3,42}</string>
</dict>
<key>Monster202_2017.png</key>
<dict>
<key>frame</key>
<string>{{2,1602},{66,100}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-6,51}</string>
</dict>
<key>Monster202_2021.png</key>
<dict>
<key>frame</key>
<string>{{64,1932},{62,90}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{4,41}</string>
</dict>
<key>Monster202_3012.png</key>
<dict>
<key>frame</key>
<string>{{54,2206},{70,92}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-8,45}</string>
</dict>
<key>Monster202_3011.png</key>
<dict>
<key>frame</key>
<string>{{2,1998},{58,92}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,43}</string>
</dict>
<key>Monster202_3010.png</key>
<dict>
<key>frame</key>
<string>{{2,1108},{74,96}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-9,45}</string>
</dict>
<key>Monster202_3004.png</key>
<dict>
<key>frame</key>
<string>{{2,3126},{32,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,48}</string>
</dict>
<key>Monster202_4003.png</key>
<dict>
<key>frame</key>
<string>{{74,398},{52,100}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{0,48}</string>
</dict>
<key>Monster202_4017.png</key>
<dict>
<key>frame</key>
<string>{{2,1400},{70,98}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-3,40}</string>
</dict>
<key>Monster202_3024.png</key>
<dict>
<key>frame</key>
<string>{{78,1226},{44,104}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{15,49}</string>
</dict>
<key>Monster202_4025.png</key>
<dict>
<key>frame</key>
<string>{{2,2500},{46,98}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{8,51}</string>
</dict>
<key>Monster202_4014.png</key>
<dict>
<key>frame</key>
<string>{{70,1734},{56,96}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-6,41}</string>
</dict>
<key>Monster202_3020.png</key>
<dict>
<key>frame</key>
<string>{{64,1832},{58,98}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,43}</string>
</dict>
<key>Monster202_4026.png</key>
<dict>
<key>frame</key>
<string>{{2,484},{68,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{15,61}</string>
</dict>
<key>Monster202_4015.png</key>
<dict>
<key>frame</key>
<string>{{38,2664},{60,82}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-4,42}</string>
</dict>
<key>Monster202_4008.png</key>
<dict>
<key>frame</key>
<string>{{76,1332},{50,100}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{1,48}</string>
</dict>
<key>Monster202_2010.png</key>
<dict>
<key>frame</key>
<string>{{72,1536},{54,96}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-7,50}</string>
</dict>
<key>Monster202_2002.png</key>
<dict>
<key>frame</key>
<string>{{38,2950},{34,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,47}</string>
</dict>
<key>Monster202_2014.png</key>
<dict>
<key>frame</key>
<string>{{2,1902},{60,94}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-2,51}</string>
</dict>
<key>Monster202_4004.png</key>
<dict>
<key>frame</key>
<string>{{2,2296},{50,100}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{0,48}</string>
</dict>
<key>Monster202_3013.png</key>
<dict>
<key>frame</key>
<string>{{2,1020},{86,92}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-7,49}</string>
</dict>
<key>Monster202_2025.png</key>
<dict>
<key>frame</key>
<string>{{2,914},{60,104}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{5,60}</string>
</dict>
<key>Monster202_3005.png</key>
<dict>
<key>frame</key>
<string>{{36,3054},{32,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,48}</string>
</dict>
<key>Monster202_3006.png</key>
<dict>
<key>frame</key>
<string>{{2,3264},{30,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,48}</string>
</dict>
<key>Monster202_3007.png</key>
<dict>
<key>frame</key>
<string>{{96,1020},{30,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,48}</string>
</dict>
<key>Monster202_4006.png</key>
<dict>
<key>frame</key>
<string>{{2,2092},{50,100}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{0,48}</string>
</dict>
<key>Monster202_4020.png</key>
<dict>
<key>frame</key>
<string>{{2,2600},{34,104}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{1,39}</string>
</dict>
<key>Monster202_4013.png</key>
<dict>
<key>frame</key>
<string>{{2,1704},{66,98}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-5,40}</string>
</dict>
<key>Monster202_4002.png</key>
<dict>
<key>frame</key>
<string>{{72,500},{52,100}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{0,48}</string>
</dict>
<key>Monster202_4001.png</key>
<dict>
<key>frame</key>
<string>{{2,2398},{50,100}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{1,48}</string>
</dict>
<key>Monster202_4007.png</key>
<dict>
<key>frame</key>
<string>{{74,1434},{50,100}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{1,48}</string>
</dict>
<key>Monster202_4010.png</key>
<dict>
<key>frame</key>
<string>{{2,1804},{60,96}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-4,40}</string>
</dict>
<key>Monster202_3008.png</key>
<dict>
<key>frame</key>
<string>{{98,90},{28,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,48}</string>
</dict>
<key>Monster202_2001.png</key>
<dict>
<key>frame</key>
<string>{{2,2706},{34,104}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,47}</string>
</dict>
<key>Monster202_4011.png</key>
<dict>
<key>frame</key>
<string>{{62,2024},{60,84}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-3,41}</string>
</dict>
<key>Monster202_4022.png</key>
<dict>
<key>frame</key>
<string>{{50,2570},{76,92}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{17,34}</string>
</dict>
<key>Monster202_2006.png</key>
<dict>
<key>frame</key>
<string>{{2,3230},{32,102}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-2,46}</string>
</dict>
<key>Monster202_2005.png</key>
<dict>
<key>frame</key>
<string>{{70,3056},{32,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,47}</string>
</dict>
<key>Monster202_2004.png</key>
<dict>
<key>frame</key>
<string>{{2,2812},{34,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,47}</string>
</dict>
<key>Monster202_3001.png</key>
<dict>
<key>frame</key>
<string>{{98,3264},{28,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,48}</string>
</dict>
<key>Monster202_3002.png</key>
<dict>
<key>frame</key>
<string>{{66,3264},{30,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,48}</string>
</dict>
<key>Monster202_3003.png</key>
<dict>
<key>frame</key>
<string>{{34,3264},{30,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{0,48}</string>
</dict>
<key>Monster202_3017.png</key>
<dict>
<key>frame</key>
<string>{{2,90},{88,94}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-9,49}</string>
</dict>
<key>Monster202_2024.png</key>
<dict>
<key>frame</key>
<string>{{68,710},{58,100}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{16,55}</string>
</dict>
<key>Monster202_2027.png</key>
<dict>
<key>frame</key>
<string>{{78,1124},{46,100}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{6,50}</string>
</dict>
<key>Monster202_2026.png</key>
<dict>
<key>frame</key>
<string>{{64,916},{60,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{3,64}</string>
</dict>
<key>Monster202_4024.png</key>
<dict>
<key>frame</key>
<string>{{2,698},{64,104}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{9,44}</string>
</dict>
<key>Monster202_3023.png</key>
<dict>
<key>frame</key>
<string>{{64,812},{62,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{29,48}</string>
</dict>
<key>Monster202_3021.png</key>
<dict>
<key>frame</key>
<string>{{38,2846},{52,86}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{0,36}</string>
</dict>
<key>Monster202_4005.png</key>
<dict>
<key>frame</key>
<string>{{2,2194},{50,100}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{0,48}</string>
</dict>
<key>Monster202_2003.png</key>
<dict>
<key>frame</key>
<string>{{2,2916},{34,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,47}</string>
</dict>
<key>Monster202_2011.png</key>
<dict>
<key>frame</key>
<string>{{54,2468},{50,100}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{0,44}</string>
</dict>
<key>Monster202_4016.png</key>
<dict>
<key>frame</key>
<string>{{54,2390},{68,76}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{1,47}</string>
</dict>
<key>Monster202_2013.png</key>
<dict>
<key>frame</key>
<string>{{54,2110},{70,94}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,52}</string>
</dict>
<key>Monster202_2007.png</key>
<dict>
<key>frame</key>
<string>{{74,2950},{32,104}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-2,47}</string>
</dict>
<key>Monster202_4021.png</key>
<dict>
<key>frame</key>
<string>{{38,2900},{48,88}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{5,32}</string>
</dict>
<key>Monster202_4027.png</key>
<dict>
<key>frame</key>
<string>{{2,1500},{68,100}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{0,50}</string>
</dict>
<key>Monster202_2020.png</key>
<dict>
<key>frame</key>
<string>{{2,1302},{72,96}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-4,44}</string>
</dict>
<key>Monster202_2023.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{86,108}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{22,59}</string>
</dict>
<key>Monster202_2008.png</key>
<dict>
<key>frame</key>
<string>{{2,3020},{32,104}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,47}</string>
</dict>
<key>Monster202_3016.png</key>
<dict>
<key>frame</key>
<string>{{54,2300},{72,88}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-8,45}</string>
</dict>
<key>Monster202_3015.png</key>
<dict>
<key>frame</key>
<string>{{38,2792},{52,88}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-1,43}</string>
</dict>
<key>Monster202_3014.png</key>
<dict>
<key>frame</key>
<string>{{2,1206},{74,94}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-7,46}</string>
</dict>
<key>Monster202_3026.png</key>
<dict>
<key>frame</key>
<string>{{2,380},{70,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{4,63}</string>
</dict>
<key>Monster202_3027.png</key>
<dict>
<key>frame</key>
<string>{{2,278},{74,100}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{2,50}</string>
</dict>
<key>Monster202_3025.png</key>
<dict>
<key>frame</key>
<string>{{70,1634},{56,98}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{17,55}</string>
</dict>
<key>Monster202_3022.png</key>
<dict>
<key>frame</key>
<string>{{2,180},{84,96}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{22,41}</string>
</dict>
<key>Monster202_4012.png</key>
<dict>
<key>frame</key>
<string>{{38,2726},{64,74}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-4,48}</string>
</dict>
<key>Monster202_4023.png</key>
<dict>
<key>frame</key>
<string>{{88,194},{36,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{19,42}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>size</key>
<string>{128,3368}</string>
<key>textureFileName</key>
<string>Monster202.pvr.ccz</string>
<key>realTextureFileName</key>
<string>Monster202.pvr.ccz</string>
<key>format</key>
<integer>2</integer>
</dict>
</dict>