<dict>
<key>frames</key>
<dict>
<key>Monster01_4010.png</key>
<dict>
<key>frame</key>
<string>{{744,600},{240,482}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{2,209}</string>
</dict>
<key>Monster01_4006.png</key>
<dict>
<key>frame</key>
<string>{{368,876},{212,500}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{1,202}</string>
</dict>
<key>Monster01_2006.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{440,424}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{25,175}</string>
</dict>
<key>Monster01_2001.png</key>
<dict>
<key>frame</key>
<string>{{2,1838},{480,362}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{11,151}</string>
</dict>
<key>Monster01_4002.png</key>
<dict>
<key>frame</key>
<string>{{970,2306},{218,468}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-1,195}</string>
</dict>
<key>Monster01_2003.png</key>
<dict>
<key>frame</key>
<string>{{2,1358},{478,364}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{11,152}</string>
</dict>
<key>Monster01_2002.png</key>
<dict>
<key>frame</key>
<string>{{2,876},{480,364}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{11,152}</string>
</dict>
<key>Monster01_4011.png</key>
<dict>
<key>frame</key>
<string>{{350,2320},{214,482}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-2,212}</string>
</dict>
<key>Monster01_2009.png</key>
<dict>
<key>frame</key>
<string>{{1190,2538},{434,396}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{15,190}</string>
</dict>
<key>Monster01_2020.png</key>
<dict>
<key>frame</key>
<string>{{722,1836},{468,278}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{72,134}</string>
</dict>
<key>Monster01_2027.png</key>
<dict>
<key>frame</key>
<string>{{1224,2108},{428,388}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{112,81}</string>
</dict>
<key>Monster01_4022.png</key>
<dict>
<key>frame</key>
<string>{{440,3788},{266,348}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{25,129}</string>
</dict>
<key>Monster01_2016.png</key>
<dict>
<key>frame</key>
<string>{{1344,2974},{254,362}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{36,103}</string>
</dict>
<key>Monster01_2004.png</key>
<dict>
<key>frame</key>
<string>{{886,2},{480,362}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{10,151}</string>
</dict>
<key>Monster01_2014.png</key>
<dict>
<key>frame</key>
<string>{{368,1378},{458,302}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{86,149}</string>
</dict>
<key>Monster01_4014.png</key>
<dict>
<key>frame</key>
<string>{{1228,600},{224,340}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{42,113}</string>
</dict>
<key>Monster01_2025.png</key>
<dict>
<key>frame</key>
<string>{{1238,1140},{428,328}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{104,120}</string>
</dict>
<key>Monster01_4016.png</key>
<dict>
<key>frame</key>
<string>{{366,1838},{466,354}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-80,119}</string>
</dict>
<key>Monster01_4017.png</key>
<dict>
<key>frame</key>
<string>{{790,3756},{204,332}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{81,109}</string>
</dict>
<key>Monster01_2028.png</key>
<dict>
<key>frame</key>
<string>{{1192,842},{426,296}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{113,35}</string>
</dict>
<key>Monster01_4007.png</key>
<dict>
<key>frame</key>
<string>{{582,876},{208,486}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-1,208}</string>
</dict>
<key>Monster01_2022.png</key>
<dict>
<key>frame</key>
<string>{{2,3812},{436,270}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{70,125}</string>
</dict>
<key>Monster01_2015.png</key>
<dict>
<key>frame</key>
<string>{{876,3378},{232,376}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{25,142}</string>
</dict>
<key>Monster01_4015.png</key>
<dict>
<key>frame</key>
<string>{{2,2320},{494,346}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-34,117}</string>
</dict>
<key>Monster01_2010.png</key>
<dict>
<key>frame</key>
<string>{{566,2306},{438,402}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{19,189}</string>
</dict>
<key>Monster01_2011.png</key>
<dict>
<key>frame</key>
<string>{{444,2},{440,412}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{22,183}</string>
</dict>
<key>Monster01_4018.png</key>
<dict>
<key>frame</key>
<string>{{2,2816},{494,334}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{106,110}</string>
</dict>
<key>Monster01_2021.png</key>
<dict>
<key>frame</key>
<string>{{566,2746},{396,244}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{46,110}</string>
</dict>
<key>Monster01_2018.png</key>
<dict>
<key>frame</key>
<string>{{1342,3338},{266,312}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-19,159}</string>
</dict>
<key>Monster01_2019.png</key>
<dict>
<key>frame</key>
<string>{{990,2974},{352,332}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-3,167}</string>
</dict>
<key>Monster01_4028.png</key>
<dict>
<key>frame</key>
<string>{{332,3312},{474,222}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-7,-47}</string>
</dict>
<key>Monster01_4021.png</key>
<dict>
<key>frame</key>
<string>{{1124,3652},{340,330}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-6,121}</string>
</dict>
<key>Monster01_2026.png</key>
<dict>
<key>frame</key>
<string>{{558,2992},{430,384}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{111,79}</string>
</dict>
<key>Monster01_2017.png</key>
<dict>
<key>frame</key>
<string>{{2,3312},{498,328}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{63,164}</string>
</dict>
<key>Monster01_2007.png</key>
<dict>
<key>frame</key>
<string>{{2,428},{446,418}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{22,181}</string>
</dict>
<key>Monster01_4004.png</key>
<dict>
<key>frame</key>
<string>{{1002,1754},{220,476}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-1,190}</string>
</dict>
<key>Monster01_4003.png</key>
<dict>
<key>frame</key>
<string>{{338,2816},{218,476}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-1,192}</string>
</dict>
<key>Monster01_4001.png</key>
<dict>
<key>frame</key>
<string>{{672,1364},{218,470}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{0,193}</string>
</dict>
<key>Monster01_4019.png</key>
<dict>
<key>frame</key>
<string>{{1224,1754},{394,352}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{170,119}</string>
</dict>
<key>Monster01_2008.png</key>
<dict>
<key>frame</key>
<string>{{792,842},{442,398}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{17,193}</string>
</dict>
<key>Monster01_4009.png</key>
<dict>
<key>frame</key>
<string>{{1368,2},{250,478}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{9,204}</string>
</dict>
<key>Monster01_4008.png</key>
<dict>
<key>frame</key>
<string>{{886,366},{232,480}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{8,209}</string>
</dict>
<key>Monster01_4020.png</key>
<dict>
<key>frame</key>
<string>{{1110,3308},{230,336}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{29,117}</string>
</dict>
<key>Monster01_4025.png</key>
<dict>
<key>frame</key>
<string>{{556,3378},{318,374}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-67,80}</string>
</dict>
<key>Monster01_4027.png</key>
<dict>
<key>frame</key>
<string>{{892,1286},{344,466}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-72,75}</string>
</dict>
<key>Monster01_4026.png</key>
<dict>
<key>frame</key>
<string>{{422,428},{320,446}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-85,65}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>size</key>
<string>{1620,4084}</string>
<key>textureFileName</key>
<string>Monster01.pvr.ccz</string>
<key>realTextureFileName</key>
<string>Monster01.pvr.ccz</string>
<key>format</key>
<integer>2</integer>
</dict>
</dict>