<dict>
<key>frames</key>
<dict>
<key>Skill01s_2004.png</key>
<dict>
<key>frame</key>
<string>{{1814,518},{614,264}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{108,147}</string>
</dict>
<key>Skill01s_3003.png</key>
<dict>
<key>frame</key>
<string>{{948,506},{864,480}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{35,28}</string>
</dict>
<key>Skill01s_3002.png</key>
<dict>
<key>frame</key>
<string>{{948,2},{930,502}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{2,21}</string>
</dict>
<key>Skill01s_3001.png</key>
<dict>
<key>frame</key>
<string>{{3500,2},{504,182}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-122,220}</string>
</dict>
<key>Skill01s_3004.png</key>
<dict>
<key>frame</key>
<string>{{3252,508},{394,416}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{237,62}</string>
</dict>
<key>Skill01s_1001.png</key>
<dict>
<key>frame</key>
<string>{{2830,458},{420,350}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-251,28}</string>
</dict>
<key>Skill01s_1003.png</key>
<dict>
<key>frame</key>
<string>{{2734,2},{764,454}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{61,82}</string>
</dict>
<key>Skill01s_1002.png</key>
<dict>
<key>frame</key>
<string>{{1880,2},{852,514}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{83,51}</string>
</dict>
<key>Skill01s_1004.png</key>
<dict>
<key>frame</key>
<string>{{1814,784},{662,172}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{3,214}</string>
</dict>
<key>Skill01s_2002.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{944,520}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{20,15}</string>
</dict>
<key>Skill01s_2003.png</key>
<dict>
<key>frame</key>
<string>{{2,524},{814,462}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{64,51}</string>
</dict>
<key>Skill01s_2001.png</key>
<dict>
<key>frame</key>
<string>{{2430,518},{398,264}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-251,115}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>size</key>
<string>{3684,988}</string>
<key>textureFileName</key>
<string>s01s.pvr.ccz</string>
<key>realTextureFileName</key>
<string>s01s.pvr.ccz</string>
<key>format</key>
<integer>2</integer>
</dict>
</dict>