<dict>
<key>frames</key>
<dict>
<key>NanDaoShi_1001.png</key>
<dict>
<key>frame</key>
<string>{{1530,592},{498,588}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{600,600}</string>
<key>offset</key>
<string>{51,-6}</string>
</dict>
<key>NanDaoShi_1003.png</key>
<dict>
<key>frame</key>
<string>{{1530,2},{498,588}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{600,600}</string>
<key>offset</key>
<string>{51,-6}</string>
</dict>
<key>NanDaoShi_1002.png</key>
<dict>
<key>frame</key>
<string>{{530,2},{498,592}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{600,600}</string>
<key>offset</key>
<string>{51,-4}</string>
</dict>
<key>NanDaoShi_1005.png</key>
<dict>
<key>frame</key>
<string>{{1030,592},{498,588}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{600,600}</string>
<key>offset</key>
<string>{51,-6}</string>
</dict>
<key>NanDaoShi_1004.png</key>
<dict>
<key>frame</key>
<string>{{1502,1182},{498,588}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{600,600}</string>
<key>offset</key>
<string>{51,-6}</string>
</dict>
<key>NanDaoShi_1007.png</key>
<dict>
<key>frame</key>
<string>{{1002,1186},{498,588}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{600,600}</string>
<key>offset</key>
<string>{51,-6}</string>
</dict>
<key>NanDaoShi_1006.png</key>
<dict>
<key>frame</key>
<string>{{1030,2},{498,588}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{600,600}</string>
<key>offset</key>
<string>{51,-6}</string>
</dict>
<key>NanDaoShi_1009.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{526,600}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{600,600}</string>
<key>offset</key>
<string>{37,0}</string>
</dict>
<key>NanDaoShi_1008.png</key>
<dict>
<key>frame</key>
<string>{{2,1194},{498,588}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{600,600}</string>
<key>offset</key>
<string>{51,-6}</string>
</dict>
<key>NanDaoShi_1012.png</key>
<dict>
<key>frame</key>
<string>{{530,596},{498,588}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{600,600}</string>
<key>offset</key>
<string>{51,-6}</string>
</dict>
<key>NanDaoShi_1010.png</key>
<dict>
<key>frame</key>
<string>{{502,1186},{498,588}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{600,600}</string>
<key>offset</key>
<string>{51,-6}</string>
</dict>
<key>NanDaoShi_1011.png</key>
<dict>
<key>frame</key>
<string>{{2,604},{498,588}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{600,600}</string>
<key>offset</key>
<string>{51,-6}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>size</key>
<string>{2030,1784}</string>
<key>textureFileName</key>
<string>NanDaoShi.png</string>
<key>realTextureFileName</key>
<string>NanDaoShi.png</string>
<key>format</key>
<integer>2</integer>
</dict>
</dict>