<dict>
<key>frames</key>
<dict>
<key>ShadowOfMonster01_6028.png</key>
<dict>
<key>frame</key>
<string>{{1706,2},{398,152}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-134,-39}</string>
</dict>
<key>ShadowOfMonster01_8022.png</key>
<dict>
<key>frame</key>
<string>{{3248,630},{262,272}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-80,95}</string>
</dict>
<key>ShadowOfMonster01_4027.png</key>
<dict>
<key>frame</key>
<string>{{1778,1212},{322,280}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{35,-19}</string>
</dict>
<key>ShadowOfMonster01_6021.png</key>
<dict>
<key>frame</key>
<string>{{674,520},{470,210}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-143,63}</string>
</dict>
<key>ShadowOfMonster01_6011.png</key>
<dict>
<key>frame</key>
<string>{{2490,2},{348,176}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-123,42}</string>
</dict>
<key>ShadowOfMonster01_6007.png</key>
<dict>
<key>frame</key>
<string>{{2060,1128},{364,164}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-123,43}</string>
</dict>
<key>ShadowOfMonster01_4003.png</key>
<dict>
<key>frame</key>
<string>{{3514,460},{270,292}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{79,68}</string>
</dict>
<key>ShadowOfMonster01_4011.png</key>
<dict>
<key>frame</key>
<string>{{2240,1474},{308,296}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{99,63}</string>
</dict>
<key>ShadowOfMonster01_4026.png</key>
<dict>
<key>frame</key>
<string>{{2680,1042},{316,274}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{27,-22}</string>
</dict>
<key>ShadowOfMonster01_4025.png</key>
<dict>
<key>frame</key>
<string>{{1860,2},{382,264}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{32,-18}</string>
</dict>
<key>ShadowOfMonster01_6017.png</key>
<dict>
<key>frame</key>
<string>{{148,1138},{558,162}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-143,-9}</string>
</dict>
<key>ShadowOfMonster01_2009.png</key>
<dict>
<key>frame</key>
<string>{{2042,386},{366,178}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{112,63}</string>
</dict>
<key>ShadowOfMonster01_4017.png</key>
<dict>
<key>frame</key>
<string>{{1030,1540},{306,220}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{148,16}</string>
</dict>
<key>ShadowOfMonster01_4016.png</key>
<dict>
<key>frame</key>
<string>{{308,548},{540,192}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-6,19}</string>
</dict>
<key>ShadowOfMonster01_8027.png</key>
<dict>
<key>frame</key>
<string>{{2854,680},{316,198}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-29,70}</string>
</dict>
<key>ShadowOfMonster01_4018.png</key>
<dict>
<key>frame</key>
<string>{{874,2},{440,160}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{178,29}</string>
</dict>
<key>ShadowOfMonster01_2014.png</key>
<dict>
<key>frame</key>
<string>{{168,572},{554,138}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{173,47}</string>
</dict>
<key>ShadowOfMonster01_6008.png</key>
<dict>
<key>frame</key>
<string>{{2406,360},{350,168}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-124,40}</string>
</dict>
<key>ShadowOfMonster01_4004.png</key>
<dict>
<key>frame</key>
<string>{{3514,188},{270,292}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{78,68}</string>
</dict>
<key>ShadowOfMonster01_4010.png</key>
<dict>
<key>frame</key>
<string>{{2576,352},{326,292}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{99,64}</string>
</dict>
<key>ShadowOfMonster01_4008.png</key>
<dict>
<key>frame</key>
<string>{{2956,998},{312,290}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{110,66}</string>
</dict>
<key>ShadowOfMonster01_6003.png</key>
<dict>
<key>frame</key>
<string>{{1140,840},{412,160}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-117,40}</string>
</dict>
<key>ShadowOfMonster01_2002.png</key>
<dict>
<key>frame</key>
<string>{{1234,2},{406,150}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{130,49}</string>
</dict>
<key>ShadowOfMonster01_8020.png</key>
<dict>
<key>frame</key>
<string>{{3248,904},{252,272}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-61,83}</string>
</dict>
<key>ShadowOfMonster01_4028.png</key>
<dict>
<key>frame</key>
<string>{{2870,330},{316,192}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{86,-63}</string>
</dict>
<key>ShadowOfMonster01_6019.png</key>
<dict>
<key>frame</key>
<string>{{956,1296},{312,242}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-74,-33}</string>
</dict>
<key>ShadowOfMonster01_6001.png</key>
<dict>
<key>frame</key>
<string>{{1302,840},{412,160}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-117,40}</string>
</dict>
<key>ShadowOfMonster01_2007.png</key>
<dict>
<key>frame</key>
<string>{{2008,758},{368,186}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{128,55}</string>
</dict>
<key>ShadowOfMonster01_2004.png</key>
<dict>
<key>frame</key>
<string>{{1386,2},{404,148}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{127,48}</string>
</dict>
<key>ShadowOfMonster01_8026.png</key>
<dict>
<key>frame</key>
<string>{{3064,320},{308,200}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-17,69}</string>
</dict>
<key>ShadowOfMonster01_8016.png</key>
<dict>
<key>frame</key>
<string>{{342,2},{532,180}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{12,57}</string>
</dict>
<key>ShadowOfMonster01_6010.png</key>
<dict>
<key>frame</key>
<string>{{2126,2},{364,176}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-113,35}</string>
</dict>
<key>ShadowOfMonster01_2022.png</key>
<dict>
<key>frame</key>
<string>{{448,1090},{526,138}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{171,45}</string>
</dict>
<key>ShadowOfMonster01_4015.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{568,180}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{51,22}</string>
</dict>
<key>ShadowOfMonster01_2011.png</key>
<dict>
<key>frame</key>
<string>{{2378,728},{352,172}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{127,59}</string>
</dict>
<key>ShadowOfMonster01_8017.png</key>
<dict>
<key>frame</key>
<string>{{3224,1312},{296,288}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-141,84}</string>
</dict>
<key>ShadowOfMonster01_8014.png</key>
<dict>
<key>frame</key>
<string>{{3266,312},{242,286}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-74,95}</string>
</dict>
<key>ShadowOfMonster01_6022.png</key>
<dict>
<key>frame</key>
<string>{{524,2},{516,180}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-162,44}</string>
</dict>
<key>ShadowOfMonster01_8018.png</key>
<dict>
<key>frame</key>
<string>{{706,2},{446,166}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-172,28}</string>
</dict>
<key>ShadowOfMonster01_6002.png</key>
<dict>
<key>frame</key>
<string>{{1212,426},{412,160}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-119,40}</string>
</dict>
<key>ShadowOfMonster01_4019.png</key>
<dict>
<key>frame</key>
<string>{{746,992},{434,208}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{215,52}</string>
</dict>
<key>ShadowOfMonster01_8004.png</key>
<dict>
<key>frame</key>
<string>{{3808,514},{258,198}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-69,75}</string>
</dict>
<key>ShadowOfMonster01_8001.png</key>
<dict>
<key>frame</key>
<string>{{3806,1110},{260,196}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-70,75}</string>
</dict>
<key>ShadowOfMonster01_4006.png</key>
<dict>
<key>frame</key>
<string>{{2552,712},{328,300}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{85,60}</string>
</dict>
<key>ShadowOfMonster01_8010.png</key>
<dict>
<key>frame</key>
<string>{{3054,648},{312,192}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-87,61}</string>
</dict>
<key>ShadowOfMonster01_6027.png</key>
<dict>
<key>frame</key>
<string>{{1464,818},{402,160}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-132,49}</string>
</dict>
<key>ShadowOfMonster01_8008.png</key>
<dict>
<key>frame</key>
<string>{{3514,2},{296,184}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-100,68}</string>
</dict>
<key>ShadowOfMonster01_6004.png</key>
<dict>
<key>frame</key>
<string>{{1050,426},{412,160}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-116,40}</string>
</dict>
<key>ShadowOfMonster01_4001.png</key>
<dict>
<key>frame</key>
<string>{{3514,732},{270,292}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{79,68}</string>
</dict>
<key>ShadowOfMonster01_8007.png</key>
<dict>
<key>frame</key>
<string>{{2958,2},{316,186}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-83,69}</string>
</dict>
<key>ShadowOfMonster01_2028.png</key>
<dict>
<key>frame</key>
<string>{{1700,404},{400,162}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{134,45}</string>
</dict>
<key>ShadowOfMonster01_8003.png</key>
<dict>
<key>frame</key>
<string>{{3808,714},{258,196}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-71,75}</string>
</dict>
<key>ShadowOfMonster01_8021.png</key>
<dict>
<key>frame</key>
<string>{{3812,2},{292,252}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-82,83}</string>
</dict>
<key>ShadowOfMonster01_6025.png</key>
<dict>
<key>frame</key>
<string>{{956,872},{422,182}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-145,63}</string>
</dict>
<key>ShadowOfMonster01_8028.png</key>
<dict>
<key>frame</key>
<string>{{1574,1222},{314,202}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-85,68}</string>
</dict>
<key>ShadowOfMonster01_4009.png</key>
<dict>
<key>frame</key>
<string>{{2668,2},{326,288}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{103,64}</string>
</dict>
<key>ShadowOfMonster01_2026.png</key>
<dict>
<key>frame</key>
<string>{{1626,810},{400,164}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{134,24}</string>
</dict>
<key>ShadowOfMonster01_8009.png</key>
<dict>
<key>frame</key>
<string>{{2846,1360},{314,190}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-92,59}</string>
</dict>
<key>ShadowOfMonster01_2006.png</key>
<dict>
<key>frame</key>
<string>{{2222,368},{358,182}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{122,52}</string>
</dict>
<key>ShadowOfMonster01_6018.png</key>
<dict>
<key>frame</key>
<string>{{1270,1254},{302,282}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-30,-10}</string>
</dict>
<key>ShadowOfMonster01_2003.png</key>
<dict>
<key>frame</key>
<string>{{312,1622},{406,148}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{128,48}</string>
</dict>
<key>ShadowOfMonster01_4007.png</key>
<dict>
<key>frame</key>
<string>{{2550,1424},{334,294}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{92,63}</string>
</dict>
<key>ShadowOfMonster01_8025.png</key>
<dict>
<key>frame</key>
<string>{{1792,806},{374,214}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-23,78}</string>
</dict>
<key>ShadowOfMonster01_8019.png</key>
<dict>
<key>frame</key>
<string>{{886,444},{426,162}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-211,46}</string>
</dict>
<key>ShadowOfMonster01_2025.png</key>
<dict>
<key>frame</key>
<string>{{1036,2},{422,196}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{148,26}</string>
</dict>
<key>ShadowOfMonster01_6015.png</key>
<dict>
<key>frame</key>
<string>{{1668,1538},{256,218}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-63,71}</string>
</dict>
<key>ShadowOfMonster01_2001.png</key>
<dict>
<key>frame</key>
<string>{{1374,410},{406,148}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{128,48}</string>
</dict>
<key>ShadowOfMonster01_4020.png</key>
<dict>
<key>frame</key>
<string>{{3808,296},{258,216}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{63,16}</string>
</dict>
<key>ShadowOfMonster01_4021.png</key>
<dict>
<key>frame</key>
<string>{{3038,1312},{298,184}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{86,43}</string>
</dict>
<key>ShadowOfMonster01_2008.png</key>
<dict>
<key>frame</key>
<string>{{2226,1116},{356,172}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{128,66}</string>
</dict>
<key>ShadowOfMonster01_8015.png</key>
<dict>
<key>frame</key>
<string>{{2,1138},{560,144}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-43,39}</string>
</dict>
<key>ShadowOfMonster01_6016.png</key>
<dict>
<key>frame</key>
<string>{{1338,1538},{328,218}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-99,75}</string>
</dict>
<key>ShadowOfMonster01_2027.png</key>
<dict>
<key>frame</key>
<string>{{1536,2},{400,168}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{134,25}</string>
</dict>
<key>ShadowOfMonster01_6014.png</key>
<dict>
<key>frame</key>
<string>{{184,2},{544,156}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-165,24}</string>
</dict>
<key>ShadowOfMonster01_2015.png</key>
<dict>
<key>frame</key>
<string>{{3514,1278},{266,290}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{68,33}</string>
</dict>
<key>ShadowOfMonster01_8006.png</key>
<dict>
<key>frame</key>
<string>{{3146,2},{308,182}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-76,66}</string>
</dict>
<key>ShadowOfMonster01_4014.png</key>
<dict>
<key>frame</key>
<string>{{3806,1308},{256,204}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{81,13}</string>
</dict>
<key>ShadowOfMonster01_2010.png</key>
<dict>
<key>frame</key>
<string>{{1864,386},{370,176}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{116,61}</string>
</dict>
<key>ShadowOfMonster01_2019.png</key>
<dict>
<key>frame</key>
<string>{{720,1546},{308,224}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{82,112}</string>
</dict>
<key>ShadowOfMonster01_4002.png</key>
<dict>
<key>frame</key>
<string>{{3514,1004},{272,290}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{79,68}</string>
</dict>
<key>ShadowOfMonster01_2016.png</key>
<dict>
<key>frame</key>
<string>{{2400,1082},{340,278}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{104,5}</string>
</dict>
<key>ShadowOfMonster01_2018.png</key>
<dict>
<key>frame</key>
<string>{{1926,1536},{312,216}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{39,96}</string>
</dict>
<key>ShadowOfMonster01_2020.png</key>
<dict>
<key>frame</key>
<string>{{312,1090},{530,134}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{152,34}</string>
</dict>
<key>ShadowOfMonster01_8002.png</key>
<dict>
<key>frame</key>
<string>{{3808,912},{258,196}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-70,76}</string>
</dict>
<key>ShadowOfMonster01_4022.png</key>
<dict>
<key>frame</key>
<string>{{3514,1546},{266,196}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{82,28}</string>
</dict>
<key>ShadowOfMonster01_6020.png</key>
<dict>
<key>frame</key>
<string>{{502,536},{524,170}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-144,31}</string>
</dict>
<key>ShadowOfMonster01_2021.png</key>
<dict>
<key>frame</key>
<string>{{588,1062},{482,156}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{151,47}</string>
</dict>
<key>ShadowOfMonster01_2017.png</key>
<dict>
<key>frame</key>
<string>{{2,572},{564,164}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{151,80}</string>
</dict>
<key>ShadowOfMonster01_8011.png</key>
<dict>
<key>frame</key>
<string>{{3330,2},{296,180}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-88,68}</string>
</dict>
<key>ShadowOfMonster01_6026.png</key>
<dict>
<key>frame</key>
<string>{{1524,408},{400,174}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-133,56}</string>
</dict>
<key>ShadowOfMonster01_6006.png</key>
<dict>
<key>frame</key>
<string>{{2304,2},{356,184}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-118,41}</string>
</dict>
<key>ShadowOfMonster01_6009.png</key>
<dict>
<key>frame</key>
<string>{{2196,754},{360,180}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{1024,1024}</string>
<key>offset</key>
<string>{-109,32}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>size</key>
<string>{4068,1772}</string>
<key>textureFileName</key>
<string>ShadowOfMonster01.pvr.ccz</string>
<key>realTextureFileName</key>
<string>ShadowOfMonster01.pvr.ccz</string>
<key>format</key>
<integer>2</integer>
</dict>
</dict>