<dict>
<key>frames</key>
<dict>
<key>ShadowOfMonster02_2020.png</key>
<dict>
<key>frame</key>
<string>{{2,1544},{220,62}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{64,-4}</string>
</dict>
<key>ShadowOfMonster02_6026.png</key>
<dict>
<key>frame</key>
<string>{{2,3942},{118,56}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{55,46}</string>
</dict>
<key>ShadowOfMonster02_6022.png</key>
<dict>
<key>frame</key>
<string>{{2,1040},{240,92}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-69,23}</string>
</dict>
<key>ShadowOfMonster02_8021.png</key>
<dict>
<key>frame</key>
<string>{{148,3374},{116,140}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{8,29}</string>
</dict>
<key>ShadowOfMonster02_8002.png</key>
<dict>
<key>frame</key>
<string>{{228,1454},{180,70}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-22,12}</string>
</dict>
<key>ShadowOfMonster02_8016.png</key>
<dict>
<key>frame</key>
<string>{{2,2070},{196,80}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{35,-18}</string>
</dict>
<key>ShadowOfMonster02_4025.png</key>
<dict>
<key>frame</key>
<string>{{186,2426},{114,182}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-68,-13}</string>
</dict>
<key>ShadowOfMonster02_6011.png</key>
<dict>
<key>frame</key>
<string>{{2,1810},{214,76}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-50,26}</string>
</dict>
<key>ShadowOfMonster02_4022.png</key>
<dict>
<key>frame</key>
<string>{{252,940},{154,100}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{12,25}</string>
</dict>
<key>ShadowOfMonster02_4007.png</key>
<dict>
<key>frame</key>
<string>{{2,1888},{210,76}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{5,5}</string>
</dict>
<key>ShadowOfMonster02_4026.png</key>
<dict>
<key>frame</key>
<string>{{232,3942},{116,66}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-47,44}</string>
</dict>
<key>ShadowOfMonster02_6010.png</key>
<dict>
<key>frame</key>
<string>{{2,2860},{176,66}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-65,18}</string>
</dict>
<key>ShadowOfMonster02_2027.png</key>
<dict>
<key>frame</key>
<string>{{150,3298},{146,74}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-32,-16}</string>
</dict>
<key>ShadowOfMonster02_2010.png</key>
<dict>
<key>frame</key>
<string>{{2,2422},{182,124}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{68,22}</string>
</dict>
<key>ShadowOfMonster02_2015.png</key>
<dict>
<key>frame</key>
<string>{{2,3118},{152,126}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{17,30}</string>
</dict>
<key>ShadowOfMonster02_4010.png</key>
<dict>
<key>frame</key>
<string>{{2,1134},{238,66}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{38,17}</string>
</dict>
<key>ShadowOfMonster02_2021.png</key>
<dict>
<key>frame</key>
<string>{{2,294},{272,62}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{48,-2}</string>
</dict>
<key>ShadowOfMonster02_6017.png</key>
<dict>
<key>frame</key>
<string>{{200,2130},{192,110}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{20,27}</string>
</dict>
<key>ShadowOfMonster02_6027.png</key>
<dict>
<key>frame</key>
<string>{{2,3600},{140,64}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{35,39}</string>
</dict>
<key>ShadowOfMonster02_8009.png</key>
<dict>
<key>frame</key>
<string>{{2,550},{264,98}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-54,30}</string>
</dict>
<key>ShadowOfMonster02_8025.png</key>
<dict>
<key>frame</key>
<string>{{174,2974},{112,160}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{68,27}</string>
</dict>
<key>ShadowOfMonster02_4028.png</key>
<dict>
<key>frame</key>
<string>{{2,2928},{170,70}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{25,22}</string>
</dict>
<key>ShadowOfMonster02_4016.png</key>
<dict>
<key>frame</key>
<string>{{214,1906},{194,112}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-30,72}</string>
</dict>
<key>ShadowOfMonster02_4017.png</key>
<dict>
<key>frame</key>
<string>{{186,2726},{178,150}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{25,59}</string>
</dict>
<key>ShadowOfMonster02_2001.png</key>
<dict>
<key>frame</key>
<string>{{2,3504},{140,94}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{23,14}</string>
</dict>
<key>ShadowOfMonster02_2017.png</key>
<dict>
<key>frame</key>
<string>{{218,1810},{190,94}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-14,15}</string>
</dict>
<key>ShadowOfMonster02_6015.png</key>
<dict>
<key>frame</key>
<string>{{2,3246},{146,114}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-15,36}</string>
</dict>
<key>ShadowOfMonster02_6021.png</key>
<dict>
<key>frame</key>
<string>{{2,430},{266,118}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-44,37}</string>
</dict>
<key>ShadowOfMonster02_6004.png</key>
<dict>
<key>frame</key>
<string>{{276,236},{142,132}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-25,20}</string>
</dict>
<key>ShadowOfMonster02_8020.png</key>
<dict>
<key>frame</key>
<string>{{290,3534},{118,114}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{12,34}</string>
</dict>
<key>ShadowOfMonster02_8014.png</key>
<dict>
<key>frame</key>
<string>{{2,2348},{184,72}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-25,13}</string>
</dict>
<key>ShadowOfMonster02_4011.png</key>
<dict>
<key>frame</key>
<string>{{222,1730},{186,78}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{11,11}</string>
</dict>
<key>ShadowOfMonster02_6009.png</key>
<dict>
<key>frame</key>
<string>{{2,2788},{176,70}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-51,10}</string>
</dict>
<key>ShadowOfMonster02_6008.png</key>
<dict>
<key>frame</key>
<string>{{162,3088},{158,78}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-70,18}</string>
</dict>
<key>ShadowOfMonster02_6002.png</key>
<dict>
<key>frame</key>
<string>{{142,3806},{136,134}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-22,22}</string>
</dict>
<key>ShadowOfMonster02_8022.png</key>
<dict>
<key>frame</key>
<string>{{156,3168},{148,128}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-9,40}</string>
</dict>
<key>ShadowOfMonster02_2009.png</key>
<dict>
<key>frame</key>
<string>{{266,656},{184,142}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{55,32}</string>
</dict>
<key>ShadowOfMonster02_2008.png</key>
<dict>
<key>frame</key>
<string>{{244,1042},{164,136}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{73,23}</string>
</dict>
<key>ShadowOfMonster02_4021.png</key>
<dict>
<key>frame</key>
<string>{{142,3942},{116,88}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-8,26}</string>
</dict>
<key>ShadowOfMonster02_8017.png</key>
<dict>
<key>frame</key>
<string>{{180,2878},{174,94}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-24,-1}</string>
</dict>
<key>ShadowOfMonster02_4006.png</key>
<dict>
<key>frame</key>
<string>{{222,1642},{186,86}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{11,13}</string>
</dict>
<key>ShadowOfMonster02_8007.png</key>
<dict>
<key>frame</key>
<string>{{2,1966},{208,102}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-2,33}</string>
</dict>
<key>ShadowOfMonster02_8015.png</key>
<dict>
<key>frame</key>
<string>{{326,2},{232,82}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-52,12}</string>
</dict>
<key>ShadowOfMonster02_6014.png</key>
<dict>
<key>frame</key>
<string>{{274,380},{138,134}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-23,22}</string>
</dict>
<key>ShadowOfMonster02_6025.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{322,68}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-51,58}</string>
</dict>
<key>ShadowOfMonster02_2028.png</key>
<dict>
<key>frame</key>
<string>{{144,3588},{140,86}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-44,13}</string>
</dict>
<key>ShadowOfMonster02_6001.png</key>
<dict>
<key>frame</key>
<string>{{2,3666},{138,134}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-23,22}</string>
</dict>
<key>ShadowOfMonster02_8027.png</key>
<dict>
<key>frame</key>
<string>{{60,3896},{130,80}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{40,-13}</string>
</dict>
<key>ShadowOfMonster02_2019.png</key>
<dict>
<key>frame</key>
<string>{{282,3716},{130,126}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{18,-20}</string>
</dict>
<key>ShadowOfMonster02_8019.png</key>
<dict>
<key>frame</key>
<string>{{2,884},{248,68}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{54,11}</string>
</dict>
<key>ShadowOfMonster02_4008.png</key>
<dict>
<key>frame</key>
<string>{{2,650},{262,64}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{39,16}</string>
</dict>
<key>ShadowOfMonster02_8001.png</key>
<dict>
<key>frame</key>
<string>{{2,2714},{182,72}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-25,13}</string>
</dict>
<key>ShadowOfMonster02_4014.png</key>
<dict>
<key>frame</key>
<string>{{188,2242},{184,90}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{25,11}</string>
</dict>
<key>ShadowOfMonster02_2003.png</key>
<dict>
<key>frame</key>
<string>{{2,3802},{138,92}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{23,12}</string>
</dict>
<key>ShadowOfMonster02_6007.png</key>
<dict>
<key>frame</key>
<string>{{2,2152},{190,80}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-59,29}</string>
</dict>
<key>ShadowOfMonster02_8008.png</key>
<dict>
<key>frame</key>
<string>{{2,716},{256,88}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-35,39}</string>
</dict>
<key>ShadowOfMonster02_4018.png</key>
<dict>
<key>frame</key>
<string>{{2,132},{274,84}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-52,15}</string>
</dict>
<key>ShadowOfMonster02_4001.png</key>
<dict>
<key>frame</key>
<string>{{188,2334},{184,90}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{25,11}</string>
</dict>
<key>ShadowOfMonster02_8006.png</key>
<dict>
<key>frame</key>
<string>{{224,1526},{184,114}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-8,27}</string>
</dict>
<key>ShadowOfMonster02_6020.png</key>
<dict>
<key>frame</key>
<string>{{2,1608},{218,100}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-63,26}</string>
</dict>
<key>ShadowOfMonster02_8010.png</key>
<dict>
<key>frame</key>
<string>{{2,1268},{234,96}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-36,37}</string>
</dict>
<key>ShadowOfMonster02_2016.png</key>
<dict>
<key>frame</key>
<string>{{252,842},{156,96}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-47,-10}</string>
</dict>
<key>ShadowOfMonster02_2018.png</key>
<dict>
<key>frame</key>
<string>{{2,3362},{140,144}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{23,-23}</string>
</dict>
<key>ShadowOfMonster02_2011.png</key>
<dict>
<key>frame</key>
<string>{{2,1710},{218,98}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{53,10}</string>
</dict>
<key>ShadowOfMonster02_4020.png</key>
<dict>
<key>frame</key>
<string>{{290,3398},{118,134}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-11,10}</string>
</dict>
<key>ShadowOfMonster02_6016.png</key>
<dict>
<key>frame</key>
<string>{{2,3000},{158,116}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{53,71}</string>
</dict>
<key>ShadowOfMonster02_6003.png</key>
<dict>
<key>frame</key>
<string>{{270,520},{138,134}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-23,21}</string>
</dict>
<key>ShadowOfMonster02_6019.png</key>
<dict>
<key>frame</key>
<string>{{242,1180},{126,162}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-17,54}</string>
</dict>
<key>ShadowOfMonster02_8003.png</key>
<dict>
<key>frame</key>
<string>{{228,1380},{180,72}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-22,13}</string>
</dict>
<key>ShadowOfMonster02_8026.png</key>
<dict>
<key>frame</key>
<string>{{280,3848},{112,64}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{49,-23}</string>
</dict>
<key>ShadowOfMonster02_4019.png</key>
<dict>
<key>frame</key>
<string>{{2,806},{248,76}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-49,18}</string>
</dict>
<key>ShadowOfMonster02_2007.png</key>
<dict>
<key>frame</key>
<string>{{212,2020},{196,108}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{61,5}</string>
</dict>
<key>ShadowOfMonster02_2006.png</key>
<dict>
<key>frame</key>
<string>{{2,1366},{224,96}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{48,9}</string>
</dict>
<key>ShadowOfMonster02_4015.png</key>
<dict>
<key>frame</key>
<string>{{2,1202},{238,64}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{55,34}</string>
</dict>
<key>ShadowOfMonster02_4027.png</key>
<dict>
<key>frame</key>
<string>{{336,2974},{136,66}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-37,41}</string>
</dict>
<key>ShadowOfMonster02_2002.png</key>
<dict>
<key>frame</key>
<string>{{300,3914},{136,92}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{22,12}</string>
</dict>
<key>ShadowOfMonster02_4003.png</key>
<dict>
<key>frame</key>
<string>{{2,2548},{182,90}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{23,10}</string>
</dict>
<key>ShadowOfMonster02_8028.png</key>
<dict>
<key>frame</key>
<string>{{238,1308},{170,70}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-25,-22}</string>
</dict>
<key>ShadowOfMonster02_6006.png</key>
<dict>
<key>frame</key>
<string>{{2,1464},{220,78}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-45,26}</string>
</dict>
<key>ShadowOfMonster02_8018.png</key>
<dict>
<key>frame</key>
<string>{{2,218},{272,74}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{55,13}</string>
</dict>
<key>ShadowOfMonster02_4004.png</key>
<dict>
<key>frame</key>
<string>{{186,2542},{182,90}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{25,9}</string>
</dict>
<key>ShadowOfMonster02_2004.png</key>
<dict>
<key>frame</key>
<string>{{306,3254},{142,94}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{25,14}</string>
</dict>
<key>ShadowOfMonster02_2014.png</key>
<dict>
<key>frame</key>
<string>{{148,3492},{140,94}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{24,13}</string>
</dict>
<key>ShadowOfMonster02_2025.png</key>
<dict>
<key>frame</key>
<string>{{2,72},{320,58}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{52,-33}</string>
</dict>
<key>ShadowOfMonster02_2026.png</key>
<dict>
<key>frame</key>
<string>{{286,3650},{120,64}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-53,-21}</string>
</dict>
<key>ShadowOfMonster02_6018.png</key>
<dict>
<key>frame</key>
<string>{{142,3676},{138,128}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-22,36}</string>
</dict>
<key>ShadowOfMonster02_4009.png</key>
<dict>
<key>frame</key>
<string>{{2,358},{270,70}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{56,16}</string>
</dict>
<key>ShadowOfMonster02_8011.png</key>
<dict>
<key>frame</key>
<string>{{2,2234},{184,112}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-9,30}</string>
</dict>
<key>ShadowOfMonster02_4002.png</key>
<dict>
<key>frame</key>
<string>{{186,2634},{182,90}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{22,11}</string>
</dict>
<key>ShadowOfMonster02_2022.png</key>
<dict>
<key>frame</key>
<string>{{2,954},{242,84}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{74,9}</string>
</dict>
<key>ShadowOfMonster02_6028.png</key>
<dict>
<key>frame</key>
<string>{{322,3112},{140,86}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{43,-12}</string>
</dict>
<key>ShadowOfMonster02_8004.png</key>
<dict>
<key>frame</key>
<string>{{2,2640},{182,72}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-25,13}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>size</key>
<string>{410,4062}</string>
<key>textureFileName</key>
<string>ShadowOfMonster02.pvr.ccz</string>
<key>realTextureFileName</key>
<string>ShadowOfMonster02.pvr.ccz</string>
<key>format</key>
<integer>2</integer>
</dict>
</dict>