<dict>
<key>frames</key>
<dict>
<key>ShadowOfMonster202_8002.png</key>
<dict>
<key>frame</key>
<string>{{46,2410},{66,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-22,15}</string>
</dict>
<key>ShadowOfMonster202_8003.png</key>
<dict>
<key>frame</key>
<string>{{34,3832},{64,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-21,15}</string>
</dict>
<key>ShadowOfMonster202_3025.png</key>
<dict>
<key>frame</key>
<string>{{38,3426},{78,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{40,18}</string>
</dict>
<key>ShadowOfMonster202_2010.png</key>
<dict>
<key>frame</key>
<string>{{40,416},{86,48}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{22,14}</string>
</dict>
<key>ShadowOfMonster202_2004.png</key>
<dict>
<key>frame</key>
<string>{{86,2594},{66,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{26,14}</string>
</dict>
<key>ShadowOfMonster202_4001.png</key>
<dict>
<key>frame</key>
<string>{{50,2338},{70,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{24,17}</string>
</dict>
<key>ShadowOfMonster202_4002.png</key>
<dict>
<key>frame</key>
<string>{{50,2756},{70,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{24,17}</string>
</dict>
<key>ShadowOfMonster202_4025.png</key>
<dict>
<key>frame</key>
<string>{{82,1762},{70,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{39,11}</string>
</dict>
<key>ShadowOfMonster202_8023.png</key>
<dict>
<key>frame</key>
<string>{{82,702},{74,44}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-40,30}</string>
</dict>
<key>ShadowOfMonster202_3021.png</key>
<dict>
<key>frame</key>
<string>{{54,1368},{72,40}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{23,13}</string>
</dict>
<key>ShadowOfMonster202_3020.png</key>
<dict>
<key>frame</key>
<string>{{58,1206},{68,40}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{20,16}</string>
</dict>
<key>ShadowOfMonster202_6020.png</key>
<dict>
<key>frame</key>
<string>{{86,3276},{64,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-20,13}</string>
</dict>
<key>ShadowOfMonster202_8010.png</key>
<dict>
<key>frame</key>
<string>{{2,2684},{86,46}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-20,14}</string>
</dict>
<key>ShadowOfMonster202_7022.png</key>
<dict>
<key>frame</key>
<string>{{2,120},{118,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-41,22}</string>
</dict>
<key>ShadowOfMonster202_4016.png</key>
<dict>
<key>frame</key>
<string>{{2,3700},{88,30}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{18,11}</string>
</dict>
<key>ShadowOfMonster202_8017.png</key>
<dict>
<key>frame</key>
<string>{{2,1140},{96,54}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-15,11}</string>
</dict>
<key>ShadowOfMonster202_2017.png</key>
<dict>
<key>frame</key>
<string>{{42,564},{100,54}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{17,11}</string>
</dict>
<key>ShadowOfMonster202_2016.png</key>
<dict>
<key>frame</key>
<string>{{2,1426},{92,48}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{17,11}</string>
</dict>
<key>ShadowOfMonster202_6010.png</key>
<dict>
<key>frame</key>
<string>{{38,1520},{82,32}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-20,11}</string>
</dict>
<key>ShadowOfMonster202_7004.png</key>
<dict>
<key>frame</key>
<string>{{86,3144},{64,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-21,16}</string>
</dict>
<key>ShadowOfMonster202_6021.png</key>
<dict>
<key>frame</key>
<string>{{52,1488},{72,30}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-22,12}</string>
</dict>
<key>ShadowOfMonster202_6022.png</key>
<dict>
<key>frame</key>
<string>{{2,2220},{94,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-40,11}</string>
</dict>
<key>ShadowOfMonster202_7013.png</key>
<dict>
<key>frame</key>
<string>{{2,596},{112,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-12,15}</string>
</dict>
<key>ShadowOfMonster202_2007.png</key>
<dict>
<key>frame</key>
<string>{{86,2390},{66,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{26,13}</string>
</dict>
<key>ShadowOfMonster202_3002.png</key>
<dict>
<key>frame</key>
<string>{{40,2124},{70,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{24,16}</string>
</dict>
<key>ShadowOfMonster202_6026.png</key>
<dict>
<key>frame</key>
<string>{{42,346},{64,42}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-30,17}</string>
</dict>
<key>ShadowOfMonster202_7015.png</key>
<dict>
<key>frame</key>
<string>{{38,844},{82,36}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-21,14}</string>
</dict>
<key>ShadowOfMonster202_4005.png</key>
<dict>
<key>frame</key>
<string>{{50,2478},{68,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{23,17}</string>
</dict>
<key>ShadowOfMonster202_4021.png</key>
<dict>
<key>frame</key>
<string>{{34,3898},{64,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{20,10}</string>
</dict>
<key>ShadowOfMonster202_2001.png</key>
<dict>
<key>frame</key>
<string>{{86,2798},{66,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{26,14}</string>
</dict>
<key>ShadowOfMonster202_6012.png</key>
<dict>
<key>frame</key>
<string>{{2,3790},{86,30}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-18,11}</string>
</dict>
<key>ShadowOfMonster202_3013.png</key>
<dict>
<key>frame</key>
<string>{{2,362},{116,36}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{15,14}</string>
</dict>
<key>ShadowOfMonster202_6024.png</key>
<dict>
<key>frame</key>
<string>{{86,2186},{66,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-37,11}</string>
</dict>
<key>ShadowOfMonster202_8001.png</key>
<dict>
<key>frame</key>
<string>{{70,3342},{66,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-22,15}</string>
</dict>
<key>ShadowOfMonster202_7001.png</key>
<dict>
<key>frame</key>
<string>{{86,2118},{66,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-22,16}</string>
</dict>
<key>ShadowOfMonster202_7012.png</key>
<dict>
<key>frame</key>
<string>{{2,1624},{100,36}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-14,14}</string>
</dict>
<key>ShadowOfMonster202_7024.png</key>
<dict>
<key>frame</key>
<string>{{72,1520},{54,42}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-41,20}</string>
</dict>
<key>ShadowOfMonster202_8011.png</key>
<dict>
<key>frame</key>
<string>{{42,520},{84,42}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-18,14}</string>
</dict>
<key>ShadowOfMonster202_8015.png</key>
<dict>
<key>frame</key>
<string>{{40,1684},{78,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-18,16}</string>
</dict>
<key>ShadowOfMonster202_2012.png</key>
<dict>
<key>frame</key>
<string>{{2,1334},{90,50}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{20,11}</string>
</dict>
<key>ShadowOfMonster202_4027.png</key>
<dict>
<key>frame</key>
<string>{{50,3092},{70,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{29,15}</string>
</dict>
<key>ShadowOfMonster202_4024.png</key>
<dict>
<key>frame</key>
<string>{{58,1164},{68,40}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{34,8}</string>
</dict>
<key>ShadowOfMonster202_3015.png</key>
<dict>
<key>frame</key>
<string>{{2,3434},{86,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{23,12}</string>
</dict>
<key>ShadowOfMonster202_8021.png</key>
<dict>
<key>frame</key>
<string>{{36,3650},{62,40}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-18,14}</string>
</dict>
<key>ShadowOfMonster202_6006.png</key>
<dict>
<key>frame</key>
<string>{{36,3586},{62,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-24,16}</string>
</dict>
<key>ShadowOfMonster202_8016.png</key>
<dict>
<key>frame</key>
<string>{{42,466},{84,52}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-16,11}</string>
</dict>
<key>ShadowOfMonster202_7003.png</key>
<dict>
<key>frame</key>
<string>{{40,1764},{66,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-22,16}</string>
</dict>
<key>ShadowOfMonster202_7008.png</key>
<dict>
<key>frame</key>
<string>{{74,3410},{66,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-22,15}</string>
</dict>
<key>ShadowOfMonster202_2011.png</key>
<dict>
<key>frame</key>
<string>{{2,3264},{78,46}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{24,12}</string>
</dict>
<key>ShadowOfMonster202_4026.png</key>
<dict>
<key>frame</key>
<string>{{2,2772},{82,46}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{40,19}</string>
</dict>
<key>ShadowOfMonster202_8026.png</key>
<dict>
<key>frame</key>
<string>{{2,4054},{78,40}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-39,19}</string>
</dict>
<key>ShadowOfMonster202_8027.png</key>
<dict>
<key>frame</key>
<string>{{58,1122},{68,40}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-28,16}</string>
</dict>
<key>ShadowOfMonster202_8022.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{110,54}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-36,23}</string>
</dict>
<key>ShadowOfMonster202_3006.png</key>
<dict>
<key>frame</key>
<string>{{58,2932},{68,38}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{23,14}</string>
</dict>
<key>ShadowOfMonster202_6007.png</key>
<dict>
<key>frame</key>
<string>{{74,3478},{62,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-24,16}</string>
</dict>
<key>ShadowOfMonster202_6004.png</key>
<dict>
<key>frame</key>
<string>{{74,3756},{62,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-24,16}</string>
</dict>
<key>ShadowOfMonster202_6023.png</key>
<dict>
<key>frame</key>
<string>{{40,1604},{78,32}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-54,6}</string>
</dict>
<key>ShadowOfMonster202_6008.png</key>
<dict>
<key>frame</key>
<string>{{76,3542},{62,36}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-24,15}</string>
</dict>
<key>ShadowOfMonster202_4017.png</key>
<dict>
<key>frame</key>
<string>{{86,228},{100,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{16,8}</string>
</dict>
<key>ShadowOfMonster202_3008.png</key>
<dict>
<key>frame</key>
<string>{{78,1902},{70,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{23,15}</string>
</dict>
<key>ShadowOfMonster202_2013.png</key>
<dict>
<key>frame</key>
<string>{{2,1040},{98,52}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{20,11}</string>
</dict>
<key>ShadowOfMonster202_4012.png</key>
<dict>
<key>frame</key>
<string>{{2,2316},{94,32}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{17,11}</string>
</dict>
<key>ShadowOfMonster202_4011.png</key>
<dict>
<key>frame</key>
<string>{{2,3878},{86,30}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{20,11}</string>
</dict>
<key>ShadowOfMonster202_3001.png</key>
<dict>
<key>frame</key>
<string>{{46,2196},{70,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{24,15}</string>
</dict>
<key>ShadowOfMonster202_2021.png</key>
<dict>
<key>frame</key>
<string>{{38,1832},{74,36}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{24,12}</string>
</dict>
<key>ShadowOfMonster202_6011.png</key>
<dict>
<key>frame</key>
<string>{{98,564},{74,28}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-22,11}</string>
</dict>
<key>ShadowOfMonster202_8020.png</key>
<dict>
<key>frame</key>
<string>{{74,1626},{56,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-22,13}</string>
</dict>
<key>ShadowOfMonster202_6025.png</key>
<dict>
<key>frame</key>
<string>{{2,3020},{80,46}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-38,17}</string>
</dict>
<key>ShadowOfMonster202_7010.png</key>
<dict>
<key>frame</key>
<string>{{2,1520},{102,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-16,16}</string>
</dict>
<key>ShadowOfMonster202_8014.png</key>
<dict>
<key>frame</key>
<string>{{2,2856},{82,48}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-18,15}</string>
</dict>
<key>ShadowOfMonster202_4023.png</key>
<dict>
<key>frame</key>
<string>{{2,2940},{78,54}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{42,8}</string>
</dict>
<key>ShadowOfMonster202_4015.png</key>
<dict>
<key>frame</key>
<string>{{38,3344},{80,30}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{20,11}</string>
</dict>
<key>ShadowOfMonster202_2022.png</key>
<dict>
<key>frame</key>
<string>{{2,58},{100,60}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{42,20}</string>
</dict>
<key>ShadowOfMonster202_2026.png</key>
<dict>
<key>frame</key>
<string>{{82,926},{70,44}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{32,22}</string>
</dict>
<key>ShadowOfMonster202_6002.png</key>
<dict>
<key>frame</key>
<string>{{74,3884},{62,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-24,16}</string>
</dict>
<key>ShadowOfMonster202_3026.png</key>
<dict>
<key>frame</key>
<string>{{38,710},{72,42}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{36,19}</string>
</dict>
<key>ShadowOfMonster202_4004.png</key>
<dict>
<key>frame</key>
<string>{{50,3232},{68,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{23,17}</string>
</dict>
<key>ShadowOfMonster202_6015.png</key>
<dict>
<key>frame</key>
<string>{{50,3020},{70,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-25,9}</string>
</dict>
<key>ShadowOfMonster202_6014.png</key>
<dict>
<key>frame</key>
<string>{{42,666},{84,34}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-21,10}</string>
</dict>
<key>ShadowOfMonster202_3016.png</key>
<dict>
<key>frame</key>
<string>{{2,934},{104,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{15,12}</string>
</dict>
<key>ShadowOfMonster202_3017.png</key>
<dict>
<key>frame</key>
<string>{{44,120},{118,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{12,13}</string>
</dict>
<key>ShadowOfMonster202_3012.png</key>
<dict>
<key>frame</key>
<string>{{86,120},{106,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{16,11}</string>
</dict>
<key>ShadowOfMonster202_7002.png</key>
<dict>
<key>frame</key>
<string>{{42,2056},{66,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-22,16}</string>
</dict>
<key>ShadowOfMonster202_2024.png</key>
<dict>
<key>frame</key>
<string>{{86,2254},{66,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{39,20}</string>
</dict>
<key>ShadowOfMonster202_7025.png</key>
<dict>
<key>frame</key>
<string>{{76,852},{72,50}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-38,21}</string>
</dict>
<key>ShadowOfMonster202_8008.png</key>
<dict>
<key>frame</key>
<string>{{58,1248},{68,38}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-21,15}</string>
</dict>
<key>ShadowOfMonster202_4006.png</key>
<dict>
<key>frame</key>
<string>{{42,1982},{72,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{21,17}</string>
</dict>
<key>ShadowOfMonster202_2014.png</key>
<dict>
<key>frame</key>
<string>{{2,2504},{88,46}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{23,13}</string>
</dict>
<key>ShadowOfMonster202_3014.png</key>
<dict>
<key>frame</key>
<string>{{2,828},{104,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{17,14}</string>
</dict>
<key>ShadowOfMonster202_8025.png</key>
<dict>
<key>frame</key>
<string>{{76,1834},{66,48}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-37,22}</string>
</dict>
<key>ShadowOfMonster202_3004.png</key>
<dict>
<key>frame</key>
<string>{{84,2046},{70,36}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{23,15}</string>
</dict>
<key>ShadowOfMonster202_3010.png</key>
<dict>
<key>frame</key>
<string>{{42,240},{104,42}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{18,12}</string>
</dict>
<key>ShadowOfMonster202_3023.png</key>
<dict>
<key>frame</key>
<string>{{2,3102},{78,46}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{54,16}</string>
</dict>
<key>ShadowOfMonster202_8013.png</key>
<dict>
<key>frame</key>
<string>{{2,1238},{94,54}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-16,13}</string>
</dict>
<key>ShadowOfMonster202_6005.png</key>
<dict>
<key>frame</key>
<string>{{74,3692},{62,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-24,16}</string>
</dict>
<key>ShadowOfMonster202_7011.png</key>
<dict>
<key>frame</key>
<string>{{2,3612},{86,32}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-22,13}</string>
</dict>
<key>ShadowOfMonster202_2015.png</key>
<dict>
<key>frame</key>
<string>{{82,778},{72,44}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{27,13}</string>
</dict>
<key>ShadowOfMonster202_4010.png</key>
<dict>
<key>frame</key>
<string>{{2,3344},{88,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{22,11}</string>
</dict>
<key>ShadowOfMonster202_2023.png</key>
<dict>
<key>frame</key>
<string>{{2,3182},{80,44}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{55,23}</string>
</dict>
<key>ShadowOfMonster202_6016.png</key>
<dict>
<key>frame</key>
<string>{{2,3522},{88,32}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-16,10}</string>
</dict>
<key>ShadowOfMonster202_6003.png</key>
<dict>
<key>frame</key>
<string>{{74,3820},{62,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-24,16}</string>
</dict>
<key>ShadowOfMonster202_6027.png</key>
<dict>
<key>frame</key>
<string>{{86,3210},{64,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-25,17}</string>
</dict>
<key>ShadowOfMonster202_8007.png</key>
<dict>
<key>frame</key>
<string>{{58,1288},{68,38}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-19,15}</string>
</dict>
<key>ShadowOfMonster202_7014.png</key>
<dict>
<key>frame</key>
<string>{{2,1726},{98,36}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-15,15}</string>
</dict>
<key>ShadowOfMonster202_2025.png</key>
<dict>
<key>frame</key>
<string>{{86,330},{84,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{40,22}</string>
</dict>
<key>ShadowOfMonster202_2003.png</key>
<dict>
<key>frame</key>
<string>{{86,2662},{66,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{26,14}</string>
</dict>
<key>ShadowOfMonster202_2008.png</key>
<dict>
<key>frame</key>
<string>{{86,2322},{66,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{26,14}</string>
</dict>
<key>ShadowOfMonster202_3024.png</key>
<dict>
<key>frame</key>
<string>{{38,784},{58,42}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{43,14}</string>
</dict>
<key>ShadowOfMonster202_7026.png</key>
<dict>
<key>frame</key>
<string>{{56,1082},{70,38}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-34,18}</string>
</dict>
<key>ShadowOfMonster202_7016.png</key>
<dict>
<key>frame</key>
<string>{{2,1826},{100,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-13,14}</string>
</dict>
<key>ShadowOfMonster202_4022.png</key>
<dict>
<key>frame</key>
<string>{{2,480},{114,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{37,7}</string>
</dict>
<key>ShadowOfMonster202_2002.png</key>
<dict>
<key>frame</key>
<string>{{86,2730},{66,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{26,14}</string>
</dict>
<key>ShadowOfMonster202_4003.png</key>
<dict>
<key>frame</key>
<string>{{50,2684},{70,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{23,17}</string>
</dict>
<key>ShadowOfMonster202_3022.png</key>
<dict>
<key>frame</key>
<string>{{2,240},{120,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{43,12}</string>
</dict>
<key>ShadowOfMonster202_7021.png</key>
<dict>
<key>frame</key>
<string>{{42,928},{72,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-22,13}</string>
</dict>
<key>ShadowOfMonster202_7020.png</key>
<dict>
<key>frame</key>
<string>{{36,3964},{64,36}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-18,15}</string>
</dict>
<key>ShadowOfMonster202_4020.png</key>
<dict>
<key>frame</key>
<string>{{74,1564},{60,52}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{24,14}</string>
</dict>
<key>ShadowOfMonster202_4014.png</key>
<dict>
<key>frame</key>
<string>{{2,3966},{86,32}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{20,11}</string>
</dict>
<key>ShadowOfMonster202_2027.png</key>
<dict>
<key>frame</key>
<string>{{46,2268},{68,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{27,16}</string>
</dict>
<key>ShadowOfMonster202_7007.png</key>
<dict>
<key>frame</key>
<string>{{86,2866},{64,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-21,16}</string>
</dict>
<key>ShadowOfMonster202_7006.png</key>
<dict>
<key>frame</key>
<string>{{86,3012},{64,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-21,16}</string>
</dict>
<key>ShadowOfMonster202_8004.png</key>
<dict>
<key>frame</key>
<string>{{34,3766},{64,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-21,15}</string>
</dict>
<key>ShadowOfMonster202_7027.png</key>
<dict>
<key>frame</key>
<string>{{52,1446},{74,40}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-29,16}</string>
</dict>
<key>ShadowOfMonster202_7023.png</key>
<dict>
<key>frame</key>
<string>{{42,1002},{74,36}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-52,19}</string>
</dict>
<key>ShadowOfMonster202_2005.png</key>
<dict>
<key>frame</key>
<string>{{86,2526},{66,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{26,14}</string>
</dict>
<key>ShadowOfMonster202_8012.png</key>
<dict>
<key>frame</key>
<string>{{2,2594},{88,48}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-15,12}</string>
</dict>
<key>ShadowOfMonster202_2020.png</key>
<dict>
<key>frame</key>
<string>{{50,3164},{66,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{22,14}</string>
</dict>
<key>ShadowOfMonster202_8024.png</key>
<dict>
<key>frame</key>
<string>{{36,3522},{62,36}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-32,22}</string>
</dict>
<key>ShadowOfMonster202_3005.png</key>
<dict>
<key>frame</key>
<string>{{58,2972},{68,38}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{23,15}</string>
</dict>
<key>ShadowOfMonster202_6017.png</key>
<dict>
<key>frame</key>
<string>{{2,2122},{96,36}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-15,9}</string>
</dict>
<key>ShadowOfMonster202_7005.png</key>
<dict>
<key>frame</key>
<string>{{86,3078},{64,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-21,15}</string>
</dict>
<key>ShadowOfMonster202_6001.png</key>
<dict>
<key>frame</key>
<string>{{74,3948},{62,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-24,14}</string>
</dict>
<key>ShadowOfMonster202_3027.png</key>
<dict>
<key>frame</key>
<string>{{82,1684},{76,36}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{30,16}</string>
</dict>
<key>ShadowOfMonster202_8005.png</key>
<dict>
<key>frame</key>
<string>{{34,3700},{64,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-20,15}</string>
</dict>
<key>ShadowOfMonster202_8006.png</key>
<dict>
<key>frame</key>
<string>{{58,1328},{68,38}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-19,15}</string>
</dict>
<key>ShadowOfMonster202_7017.png</key>
<dict>
<key>frame</key>
<string>{{2,710},{116,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-10,16}</string>
</dict>
<key>ShadowOfMonster202_2006.png</key>
<dict>
<key>frame</key>
<string>{{86,2458},{66,40}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{25,14}</string>
</dict>
<key>ShadowOfMonster202_4007.png</key>
<dict>
<key>frame</key>
<string>{{42,1908},{72,34}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{22,17}</string>
</dict>
<key>ShadowOfMonster202_4013.png</key>
<dict>
<key>frame</key>
<string>{{2,1928},{96,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{18,9}</string>
</dict>
<key>ShadowOfMonster202_6013.png</key>
<dict>
<key>frame</key>
<string>{{2,2026},{94,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{-18,7}</string>
</dict>
<key>ShadowOfMonster202_3003.png</key>
<dict>
<key>frame</key>
<string>{{78,1974},{70,38}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{24,16}</string>
</dict>
<key>ShadowOfMonster202_4008.png</key>
<dict>
<key>frame</key>
<string>{{54,1410},{72,34}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{23,17}</string>
</dict>
<key>ShadowOfMonster202_3007.png</key>
<dict>
<key>frame</key>
<string>{{56,1040},{70,40}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{23,15}</string>
</dict>
<key>ShadowOfMonster202_3011.png</key>
<dict>
<key>frame</key>
<string>{{2,2412},{90,42}}</string>
<key>rotated</key>
<true/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{24,10}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>size</key>
<string>{128,4096}</string>
<key>textureFileName</key>
<string>ShadowOfMonster202.pvr.ccz</string>
<key>realTextureFileName</key>
<string>ShadowOfMonster202.pvr.ccz</string>
<key>format</key>
<integer>2</integer>
</dict>
</dict>