<dict>
<key>frames</key>
<dict>
<key>ShadowOfNpc01_1006.png</key>
<dict>
<key>frame</key>
<string>{{82,2},{76,42}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{16,18}</string>
</dict>
<key>ShadowOfNpc01_1004.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{78,42}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{15,18}</string>
</dict>
<key>ShadowOfNpc01_1005.png</key>
<dict>
<key>frame</key>
<string>{{160,2},{76,42}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{16,18}</string>
</dict>
<key>ShadowOfNpc01_1002.png</key>
<dict>
<key>frame</key>
<string>{{316,2},{76,42}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{16,18}</string>
</dict>
<key>ShadowOfNpc01_1003.png</key>
<dict>
<key>frame</key>
<string>{{238,2},{76,42}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{16,18}</string>
</dict>
<key>ShadowOfNpc01_1001.png</key>
<dict>
<key>frame</key>
<string>{{394,2},{76,42}}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{512,512}</string>
<key>offset</key>
<string>{16,18}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>size</key>
<string>{472,46}</string>
<key>textureFileName</key>
<string>ShadowOfNpc01.pvr.ccz</string>
<key>realTextureFileName</key>
<string>ShadowOfNpc01.pvr.ccz</string>
<key>format</key>
<integer>2</integer>
</dict>
</dict>